body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: #4882b0;
    font-size: 20px ;
}
h3{
    color:	#FFA07A;
}
p{
    color: #2C2D2D;
    font-size: 15px;
}
li{
    line-height: 1.5em;
    font-size: 15px
}

